<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="registro-content">
  <div class="form-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registrarse</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
        <ion-button expand="full" color="primary">Registrarse</ion-button>
        <p class="text-center">¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión aquí</a></p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
