
ion-content{
  ion-header{
    ion-title{
      text-align: center;
    }
  }

}
ion-card{
    margin-top: 30%;
  }
  
ion-card-title{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
  }
  
ion-card-title{
    text-align: center;
  }

  ion-title{
    text-align: center;
  }
  