

ion-card {
  border-radius: 15px; 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


ion-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


ion-button {
  --border-radius: 20px; 
  --background: green; 
  --color: #fff; 
}


ion-button:hover {
  background: #5A5BA6; 
}

ion-card-title {
  color: green; 
}


ion-card-content p {
  color: #333; 
}
